<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Burgers</a>
  </div>
</nav>

<div class="row">
  
  <div class="col-sm">
    <h2>New burgers</h2>
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/new_burgers_block}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-sm">
    <h2>Devoured Burgers</h2>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/devoured_burger_block}}
        {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Name of the Burger?</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
